{
  "env": {
    "node": true,
    "jest/globals": true
  },
  "extends": ["plugin:node/recommended", "airbnb-base", "plugin:jest/recommended", "plugin:jest/style"],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 4],
    "comma-dangle": "off",
    "no-bitwise": "off",
    "no-plusplus": "off"
  },
  "plugins": ["jest"]
}
